/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;

// colors
$body-bg: #fff;
$body-color: #000000;
$link-color: #035AA6;
$code-color: #035AA6;
$selection-bg: $link-color !default;

b, strong {
   color: #035AA6;
   }

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-heading-color: #035AA6 !default;

$presentation-font-smaller: 0.6;

:root {
  --mermaid-node-bg-color: #375a7f;
}
/*-- scss:rules --*/

